.about p,
.about li {
  font-size: 1em !important;
}

.card {
  border-radius: 0.8rem;
}

.card ul {
  padding-left: 1.2rem;
}

.card h6 {
  margin-top: 1rem;
}
.skill-btn {
  padding: 0.45rem 1rem;
  background: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 30px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: default;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.2s ease-in-out;
}

.skill-btn i {
  font-size: 1rem;
}

.skill-btn:hover {
  background: #e9ecef;
  transform: translateY(-2px);
}

.skills-buttons {
  margin-bottom: 1rem;
}

.skills-buttons img {
  width: 2em;
}

.journey p {
  margin-top: 1em;
  line-height: 2em;
  font-family: "Montserrat", cursive;
  text-align: left;
  word-spacing: .1em;
}

