.overlay-card {
  position: relative;
  overflow: hidden;
}

.overlay-card img {
  width: 100%;
  height: 225px;
  object-fit: cover;
  display: block;
}

/* The dark overlay */
.overlay-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 225px;
  background: rgba(0, 0, 0, 0.4); /* Adjust darkness here */
  z-index: 1;
}

/* Make sure content sits above overlay */
.overlay-card .card-body {
  position: relative;
  z-index: 2;
}
.project-skills {
  width: 22px !important;
  height: 22px !important;
 
  vertical-align: middle !important;
}

/* Project reveal animation */
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.row .reveal {
  transition-delay: 0s;
}

.row .reveal:nth-child(1) {
  transition-delay: 0.1s;
}
.row .reveal:nth-child(2) {
  transition-delay: 0.2s;
}
.row .reveal:nth-child(3) {
  transition-delay: 0.3s;
}
/* continue for more cards */
@media screen and (max-width: 576px) {
  .project-hero p {
    font-size: 1em !important;
  }
}
