/* ============= PROJECT CSS =============== */
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");
*,
body {
  font-family: system-ui, sans-serif;
  background-color: #e2e8f0;
}

.navbar {
  background-color: white !important;
}
.nav-content {
  background-color: white !important;
}
nav img {
  border-radius: 4em !important;
}

.home-body {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  border: 1px solid;
}

.sidebar {
  position: relative;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -1em;

  width: 3rem;
  height: 14em;
  padding: 1rem;

  background-color: white;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.sidebar a {
  color: black;
  text-decoration: none;
  background: transparent;
}
.sidebar img {
  background: transparent;
  width: 1.2em;
}

.hero-container {
  position: relative;
  left: 0em;
  border: 1px solid;
  align-items: center;
  text-align: center;
}
.hero {
  border: 1px solid;
  height: 100%;
}
.hero-img {
  border: 1px solid;
  height: 100%;
  align-items: center;
}
.hero-img img {
  width: 100%;
  padding: 0;
  overflow: hidden;
}
@media screen and (max-width: 576px) {
  .hero {
    border: 1px solid;
    width: 100%;
  }
  .hero-img {
    border: 1px solid;
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .sidebar {
    display: none;
  }
  .hero h1 {
    font-size: 1.5em;
  }
  .hero p {
    font-size: 1em;
  }
}
